/* =====common codoe start here */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 0.8;
}
a {
  text-decoration: none;
}
ol,
ul {
  list-style-type: none;
}
.container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
}
.btn {
  width: 200px;
  height: 60px;
  font-size: 18px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
}
/* =====common codoe start here */

/* ====== variable declaration===== */
:root {
  --praimary_color: #fff;
  --secondery_color: #ff9600;
}
/* ====== variable declaration===== */

/* =====navbar start here */
#nav_bar {
  width: 100%;
  padding: 20px 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu .logo {
  width: 20%;
}
.menu .menu_links {
  width: 60%;
}
.menu .menu_links ul {
  display: flex;
  justify-content: center;
  column-gap: 30px;
}
.menu .menu_links ul li a {
  text-transform: capitalize;
  color: var(--praimary_color);
  font-size: 18;
  font-weight: 700;
}
.menu .menu_links ul li a:hover {
  color: var(--secondery_color);
}
.menu .menu_btn {
  width: 20%;
  display: flex;
  justify-content: flex-end;
}
.menu .menu_btn button {
  background-color: var(--secondery_color);
  color: var(--praimary_color);
  border: transparent;
  outline: none;
  border-radius: 5px;
  align-items: flex-end;
}
.menu .menu_btn button i {
  margin-left: 10px;
}
.menu .menu_btn button:hover {
  color: var(--secondery_color);
  background-color: var(--praimary_color);
}

.menuBar {
  display: none;
}
.menuBar i {
  color: #fff;
}
/* =====navbar end here ======*/

/* =====banner start here===== */
#baner {
  width: 100%;
  /* height: 750px; */
  background: linear-gradient(180deg, #0000063a 0%, #ffffff2a 100%),
    url(../images/baner-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 290px 0 110px 0;
  position: relative;
}
.baner-content {
  margin: auto;
  width: 820px;
  text-align: center;
}
.baner-content h1 {
  width: 820px;
  font-size: 72px;
  font-weight: 700;
  text-align: center;
  line-height: normal;
  color: var(--praimary_color);
}
.baner-content .bannerBtnWarpper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.baner-content button {
  margin: 55px 10px;
  color: var(--secondery_color);
  transition: linear 0.3s;
}
.baner-content button:hover {
  background-color: var(--secondery_color);
  color: var(--praimary_color);
}
.baner-content button:last-child {
  background-color: var(--secondery_color);
  color: var(--praimary_color);
}
.baner-content button:last-child:hover {
  background-color: var(--praimary_color);
  color: var(--secondery_color);
}
#baner .vectorpng {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}
#baner .vectorpng img {
  width: 100%;
  display: block;
}
/* ===== banner end here====== */

/* =====Excitement start here==== */
#excitement {
  width: 100%;
}
.excitement_warper {
  width: 100%;
  padding: 75px 0;
  display: flex;
  justify-content: space-between;
}
.excitement_content {
  width: 600px;
}
.excitement_content h3 {
  color: #14b9f1;
  font-weight: 400;
  font-size: 30px;
  font-family: "Yellowtail", cursive;
}
.excitement_content h2 {
  font-size: 54px;
  line-height: normal;
  font-weight: 700;
}
.excitement_content p {
  color: #222;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  position: relative;
  margin-top: 62px;
  margin-bottom: 43px;
}
.excitement_content p::after {
  position: absolute;
  content: " ";
  width: 80px;
  height: 2px;
  background-color: #a0a0a0;
  margin-top: 62px;
  top: -95px;
  left: 0;
}

/* .excitement_content ul{
    list-style-image: url(../images/Frame.png);
    list-style-position: inside;
} */
.excitement_content ul li {
  margin: 37px 0;
  display: flex;
  align-items: center;
}
.excitement_content ul li span {
  width: 30px;
  height: 30px;
  padding: 5px;
  background-color: #d8e2ee;
  border-radius: 50%;
  display: flex;
  margin-right: 30px;
}
.excitement_content button{
    background-color: var(--secondery_color);
    color: var(--praimary_color);
}
/* .excitement_content ul li span img{
} */
.excitement_img_warper {
  width: 650px;
  display: flex;
  align-items: center;
  column-gap: 50px;
}
.excitement_img_item {
  width: 300px;
  height: 620px;
  border-radius: 10px;
  overflow: hidden;
}
.excitement_img_item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.excitement_img_item:last-child {
  height: 520px;
}
/*  =====Excitement end here==== */

/* =====badge_container start here======== */
#badge_container {
  width: 100%;
  margin: 85px 0 200px 0;
}
#badge_container .badge_box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#badge_container .badge_box .badge {
  width: 310px;
  height: 220px;
  border-radius: 10px;
  padding: 40px 64px;
  background-image: url(../images/badge.png);
}
#badge_container .badge_box .badge .badge_big_txt {
  color: #222;
  font-size: 80px;
  font-weight: 700;
  line-height: normal;
}
#badge_container .badge_box .badge:first-child {
  background-color: #fff4e5;
  background-image: none;
}
#badge_container .badge_box .badge:nth-child(2) {
  background-color: #e7fde9;
}
#badge_container .badge_box .badge:nth-child(3) {
  background-color: #f2f2fd;
}
#badge_container .badge_box .badge:last-child {
  background-color: #fdf1f5;
}
/* =====badge_container end here ========*/

/* ========sports glary start here======= */
#extreme_sports {
  width: 100%;
  padding: 105px 0;
  background-color: #0c3543;
  position: relative;
}
#extreme_sports .sport_txt {
  width: 100%;
  display: flex;
  align-items: center;
  column-gap: 150px;
}
#extreme_sports .sport_txt .sports_hedding_txt h3 {
  color: #ff9600;
  font-family: Yellowtail;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#extreme_sports .sport_txt .sports_hedding_txt h2 {
  color: #fff;
  font-size: 54px;
  font-weight: 700;
  line-height: normal;
  width: 394px;
  position: relative;
}
#extreme_sports .sport_txt .sports_hedding_txt h2::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 2px;
  background-color: var(--praimary_color);
  bottom: -30px;
  left: 0;
}
#extreme_sports .sport_txt .sports_pragraph p {
  color: var(--praimary_color);
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  width: 638px;
}
#extreme_sports .galary {
  width: 100%;
  margin-top: 90px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  row-gap: 50px;
}
#extreme_sports .galary .galary_item {
  width: 100%;
  max-width: 424px;
  height: 510px;
  border-radius: 10px;
  background-color: #ff9600;
  overflow: hidden;
}
#extreme_sports .galary .galary_item .galary_photo{
    width: 100%;
    height: 365px;
    background-color: whitesmoke;
}
#extreme_sports .galary .galary_item .galary_photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#extreme_sports .galary .galary_item .descriptino {
  width: 100%;
  height: 145px;
  background-color: #0f4152;
  padding: 27px 0;
  text-align: center;
}
#extreme_sports .galary .galary_item .descriptino h4 {
  font-size: 30px;
  font-weight: 700;
  line-height: normal;
  color: var(--praimary_color);
  margin-bottom: 24px;
}
#extreme_sports .galary .galary_item .descriptino p {
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  color: var(--praimary_color);
}
/* #extreme_sports .galary_atach{
    position: absolute;
    left: 0;
    bottom: 0;
} */
#extreme_sports .galary_atach img {
  width: 100%;
  display: block;
}
#extreme_sports .big_txt {
  color: var(--praimary_color);
  text-align: center;
  font-family: Arizonia;
  font-size: 160px;
  font-weight: 400;
}
#extreme_sports .galary_bottom_attach {
  position: absolute;
  bottom: 0;
  left: 0;
}
#extreme_sports .galary_bottom_attach img {
  width: 100%;
  display: block;
}
/* ========sports glary end here=======  */

/* ========sports test limit glary start here======= */
#limit_test {
  width: 100%;
  background-color: #ff9600;
  padding-top: 110px;
}
#limit_test .white_logo {
  width: 100px;
  height: 75px;
  margin: auto;
}
#limit_test .white_logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#limit_test .text_container {
  margin: auto;
  text-align: center;
}
#limit_test .text_container h2 {
  color: var(--praimary_color);
  text-align: center;
  font-size: 54px;
  font-weight: 700;
  line-height: normal;
  margin-top: 26px;
}
#limit_test .text_container h4 {
  color: var(--praimary_color);
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: normal;
  margin: 46px 0 60px 0;
}
#limit_test .btn_warper {
  width: 100%;
  display: flex;
  justify-content: center;
  column-gap: 10px;
}
#limit_test .btn_warper button {
  background-color: #0c3543;
  color: #fff;
}
#limit_test .btn_warper button:last-child {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 5px;
}
.limit_test_galary_warper {
  width: 100%;
  /* margin: 20px 0; */
  padding: 20px 0;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.limit_test_galary_warper .limit_test_galary_item {
  width: 424px;
  height: 470px;
  position: relative;
}
.limit_test_galary_warper .limit_test_galary_item:first-child {
  background: linear-gradient(180deg, #00000000 0%, #22222273 40.1%, #000 100%),
    url(../images/limitgalary01.png);
  background-position: center;
  background-size: cover;
}
.limit_test_galary_warper .limit_test_galary_item:last-child {
  background: linear-gradient(180deg, #00000000 0%, #22222273 40.1%, #000 100%),
    url(../images/limitgalary03.png);
  background-position: center;
  background-size: cover;
}
.limit_test_galary_warper .limit_test_galary_item:nth-child(2) {
  background: linear-gradient(180deg, #00000000 0%, #22222273 40.1%, #000 100%),
    url(../images/limitgalary02.png);
  background-position: center;
  background-size: cover;
}
.limit_test_galary_warper .limit_test_galary_item .limit_test_galary_item_text {
  width: 100%;
  /* display: flex;
    justify-content: center; */
  position: absolute;
  left: 0;
  bottom: 0;
}
.text_content {
  width: 285px;
  margin: auto;
  color: var(--praimary_color);
}
.text_content h3 {
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
}
.text_content h4 {
  font-size: 30px;
  font-weight: 400;
  line-height: normal;
  margin: 20px 0 45px 0;
}
.text_content p {
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  color: #a0a0a0;
  margin: 24px 0 34px 0;
}
.text_content p span i {
  padding: 6px 8px;
  margin-left: 15px;
  background-color: white;
  border-radius: 50%;
}
/* ========sports test limit glary end here======= */

/* ================why choose start here============== */
#why_choose {
  width: 100%;
  padding: 190px 0 100px 0;
  background-color: #ffffff;
}
#why_choose .why_choose_headding {
  text-align: center;
}

#why_choose .why_choose_headding h3 {
  color: #14b9f1;
  font-family: Yellowtail;
  font-size: 30px;
  font-weight: 400;
  line-height: normal;
}
#why_choose .why_choose_headding h2 {
  color: #222;
  text-align: center;
  font-family: IBM Plex Sans;
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: relative;
}
#why_choose .why_choose_headding h2::after {
  content: " ";
  width: 80px;
  height: 2px;
  background-color: #a0a0a0;
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
}
#why_choose .why_choose_card_warper {
  width: 100%;
  margin-top: 54px;
  display: flex;
  justify-content: space-between;
}
#why_choose .why_choose_card{
    width: 312px;
    height: 400px;
    border: 1px solid gray;
    text-align: center;
}
#why_choose .why_choose_card .why_choose_card_image {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin: 22px auto 56px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.first_card_img {
  background-color: #f2f2fd;
}
.second_card_img {
  background-color: #e7fde9;
}
.third_card_img {
  background-color: #fff4e5;
}
.last_card_img {
  background-color: #fdf1f5;
}
#why_choose .why_choose_card .why_choose_card_image img {
  width: 55px;
  height: 55px;
}
#why_choose .why_choose_card h4 {
  color: #222;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
}
#why_choose .why_choose_card p {
  color: #222;
  text-align: center;
  font-family: IBM Plex Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 16px;
}
/* ================why choose end here============== */

/* ================why choose start here============== */
#the_passion {
  width: 100%;
  padding: 100px 0;
  background-color: #f7f7f7;
}
.the_passion_text_container {
  width: 100%;
  display: flex;
  align-items: center;
  column-gap: 147px;
}
.the_passion_headding {
  width: 407px;
}
.the_passion_headding h3 {
  color: #ff9600;
  font-family: Yellowtail;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.the_passion_headding h2 {
  color: #222;
  font-family: IBM Plex Sans;
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: relative;
}
.the_passion_headding h2::after {
  content: " ";
  width: 40px;
  height: 2px;
  background-color: #c4c4c4;
  position: absolute;
  bottom: -30px;
  left: 0;
}
.the_passion_pragraph {
  width: 638px;
}
.the_passion_pragraph p {
  color: #000;

  font-family: IBM Plex Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.the_passion_galary {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
.the_passion_galary .the_passion_galary_item {
  width: 424px;
  height: 600px;
  border-radius: 10px;
  background-color: var(--praimary_color);
  border-radius: 10px;
}
.the_passion_galary .the_passion_galary_item img {
  width: 100%;
  height: 300px;
}
.the_passion_galary .the_passion_galary_item h4 {
  color: #000;
  text-align: center;
  font-family: IBM Plex Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 27px 20px 20px 20px;
  /* width: 315px; */
}
.the_passion_galary .the_passion_galary_item p {
  color: #000;
  width: 365px;
  text-align: center;
  font-family: IBM Plex Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: auto;
}
.the_passion_galary .the_passion_galary_item hr {
  margin: 45px 0 30px 0;
  color: #eee;
  background-color: #eee;
  border: none;
  padding: 1px;
}
.the_passion_galary .the_passion_galary_item p a {
  color: var(--secondery_color);
  font-weight: 700;
}
/* ================why choose start here============== */

/* ========brand icon galary start here======= */
#brand_icon_galary {
  width: 100%;
  padding: 45px 0;
  background-color: #fff;
}
.brand_icon_warper {
  width: 100%;
  display: flex;
}
.brand_icon_box {
  width: 264px;
  height: 264px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*  ========brand icon galary end here======= */

/* ========footer start here======= */
footer {
  width: 100%;
  height: 705px;
}
.footer_warper {
  width: 100%;
  background-color: #0c3543;
  display: flex;
}
.image_section {
  width: 795px;
  height: 705px;
}
.image_section img {
  width: 660px;
  height: 705px;
}
.contact_section {
  padding: 80px 0;
  width: 821px;
}
.footer_text {
  width: 100%;
  margin: 40px 0 83px 0;
  display: flex;
  align-items: center;
  column-gap: 58px;
  color: var(--praimary_color);
}
.footer_text button {
  /* width: 200px;
    height: 60px; */
  padding: 18px 43px;
  text-align: center;
  color: #fff;
  background-color: var(--secondery_color);
  border: none;
  border-radius: 5px;
}
.footer_text p {
  width: 560px;
  line-height: 170%;
  font-size: 18px;
  font-weight: 400;
}
.contact_part {
  margin: 72px 0;
  display: flex;
  column-gap: 107px;
}
.contact_part h2 {
  color: #fff;
  text-transform: capitalize;
  font-family: IBM Plex Sans;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.contact_part ul li {
  color: #fff;
  font-family: IBM Plex Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 26px;
}
.copyright_txt {
  color: var(--praimary_color);
}
